
  .container {
    top: 20px;
  }

  .heading1 {
    font-size: 24px;

  }

  .heading2 {
    font-size: 22px;
  }

  .heading3 {
    font-size: 17px;
  }

  .heading4 {
    font-size: 15px;
  }

  .heading5 {
    font-size: 14px;
  }

  .text1 {
    font-size: 12px;
  }

  .wave {
    width: 200px;
    height: 20px;
  }

  .wave-sm {
    height: 20px;
    width: 80px;
  }

  .profile_dp > img {
    height: 120px;
    width: 120px;
  }

  .profile_pic {
    width: 200px;
    aspect-ratio: 5/6;
    top: 25px;
    left: 25px;
  }

  .profile_pic img {
    height: 100%;
    width: 100%;
    border-radius: 0px 10px 10px 10px;
  }

  .profile_info {
    top: 15px;
  }

  .profile_info > div {
    margin-top: 25px;
  }

  .personal_heading {
    margin-bottom: 10px;


  }

  .profile_head_left {
    font-size: 22px;
    line-height: 20px;
  }

  .contact_info {
    margin-bottom: 30px;
  }

  .contact_info > div {
    margin-bottom: 15px;
  }

  .contact_info .heading3 {
    margin-bottom: 5px;
  }

  .qr_section {
    height: 250px;
    border-radius: 12px 12px 0 0;
    position: fixed;
    bottom: 0;
    padding: 5px 15px;

  }

  .qr_section h3 {
    font-size: 18px;
    line-height: 20px;
  }

  .qr_section p {
    font-size: 20px;
  }

  .qr_section .qr-image {
    margin-top: 15px;
    width: 100px;
  }

  /* right side start */
  .professional_info {
    margin-top: 20px;
  }

  .profile_title {
    margin-bottom: 30px;
  }

  .profession {
    font-size: 16px;
  }

  .experiences {
    margin-top: 10px;
  }

  .experience_heading {
    margin-bottom: 15px;
  }


  .card_title {
    line-height: 25px;
  }

  .description {
    margin: 8px 0;
  }

  .description ul li {
    left: 12px;
    margin: 5px 0px;
  }

  .description span {
    margin-left: 5px;
  }

  /* experience area End */
  .educations,
  .personalSkills {
    margin-top: 25px;
  }

  .skills_body {
    column-gap: 70px;
    row-gap: 20px;
    margin-bottom: 60px;
  }

  .progressbar {
    height: 6px;
    margin-top: 5px;
  }